/* -------------------------------------- */
/* ---------- General settings ---------- */
* {
    box-sizing: border-box;
    /* font-family: 'Atkinson Hyperlegible', sans-serif; */
    font-family: 'Playfair Display', serif;
    /* border: #C1C1C1 1px solid; */
}

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Playfair+Display:wght@500;800&display=swap');

/* Create variable names to represent the colours */
:root {
    --whiteBg: #F3EEE9;
    --blackTxt: #000000;
    /* for  category border -*/
    --grey: #C1C1C1;
    /* for accent */
    --pink: #ED9FA0;
    /* for advert */
    --green: #D2CCA1;
    /* for advert button */
    --yellow: #FDEDBE;
}

body {
    background: var(--whiteBg);
    margin: 0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0%;
    font-weight: 800;
}

p {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    text-align: justify;
    margin-top: 0;
    padding: 0 0.5%;
    font-size: 0.875em;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:active {
    color: var(--blackTxt);
}

.icon:hover {
    color: var(--pink);
    filter: brightness(90%);
}

/* ------------------------------------------ */
/* ---------- Default screen size ---------- */
/* ---------- 501 < Tablet < 961 ---------- */
/* -------------------------------------- */
/* ---------- Page container ---------- */

#page-container {
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;

    width: 90%;
    background: var(--whiteBg);
    margin: auto;
}

/* ------------------------------------- */
/* ---------- Header settings ---------- */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 100%;
    padding: 2%;

    background-image: url("images/header.jpg");
    background-size: cover;
}

#login-search-bar {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

#login {
    padding: 3px 9px;
    border-radius: 2px;
    font-weight: 500;

    background-color: var(--pink);
    filter: brightness(120%);
}

#login a:hover {
    color: var(--green);
    filter: brightness(60%);
}

#search {
    padding: 3px 9px;
}

#search input,
#search button {
    border: none;
    padding: 4px;
    border-radius: 2px;
}

#search button {
    background-color: var(--pink);
    filter: brightness(120%);
}

#logo {
    margin-top: 2%;
    max-width: 40%;
}

#page-title {
    margin: 1%;
    font-size: 5vw;
}

#mobile-nav {
    display: none;
}

/* -------------------------------------- */
/* ---------- Nav Bar settings ---------- */

#nav-bg {
    border-bottom: var(--grey) 1px solid;
}

#nav-list {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    margin: 1% 0%;
    padding: 2% 0%;

    list-style-type: none;
    font-size: 2vw;
    font-weight: bold;
}

.nav-option a {
    font-weight: 500;
}

.nav-option a:hover {
    color: var(--pink);
}

/* ------------------------------------------- */
/* ---------- Main section settings ---------- */

#main-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    padding: 3%;
}

.featured {
    margin: 2%;
    position: relative;
}

.featured img {
    width: 100%;
}

.featured-text {
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    padding: 10px;

    position: absolute;
    bottom: 0;
    left: 0;

    background-color: var(--pink);
    opacity: 0.7;
    color: var(--blackTxt);

    text-align: center;
    font-size: 1.5em;
}


/* ------------------------------------- */
/* ---------- Advert settings ---------- */

#advert-container {
    margin: 2%;
    padding: 2%;
    background-color: var(--green);
}

#advert-container h1 {
    text-align: center;
    font-size: 4vw;
}

#advert-container form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;

    margin: 2%;
}

#advert-container input{
    border: none;
    padding: 4px;
    border-radius: 2px;
}

#advert-container #sign-up {
    background-color: var(--yellow);
}

#advert-container #sign-up:hover {
    background-color: var(--pink);
    filter: brightness(110%);
}

/* ------------------------------------------------ */
/* ---------- Secondary section settings ---------- */

#secondary-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ------------------------------------- */
/* ---------- Latest settings ---------- */

#latest-section {
    grid-column: 1 / span 3;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-left: 2%;
}

#latest-section h2 {
    padding-left: 2%;
    font-size: 3vw;
}

#latest-section a {
    width: fit-content;
    align-self: flex-end;
    margin-right: 10px;
    font-size: 1.25vm;
}

#latest-section a:hover {
    color: var(--pink);
}

.latest-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.latest-div img {
    grid-column: 1 / span 1;
    justify-self: right;
    align-self: center;
}

.latest-article {
    grid-column: 2 / span 2;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2%;

    margin-right: 2%;
}

.latest-article h2 {
    align-self: center;
}

.latest-article h2:hover {
    color: var(--pink);
    cursor: pointer;
}

.latest-article p {
    grid-row: 2 / span 3;
    margin: 0%;
}

/* ----------------------------------------- */
/* ---------- Categories settings ---------- */

#secondary-aside {
    grid-column: 4 / span 1;
}

#categories-section {
    display: flex;
    flex-direction: column;

    margin: 5%;
    padding: 5%;

    align-items: center;
    text-align: center;

    border: var(--grey) 1px solid;
}

#categories-section h2 {
    margin-bottom: 5px;
    font-size: 3vw;
}

.category {
    margin: 0%;
    padding: 5%;
    margin-top: 5px;
}

.category img {
    border-radius: 50%;
}

.category img:hover {
    box-shadow: 5px 4px 5px var(--grey);
    filter: brightness(90%);
}

/* ------------------------------------- */
/* ---------- Footer settings ---------- */

footer {
    text-align: center;
    padding: 10px;
}

#socials {
    display: flex;
    height: 50px;
    gap: 20px;

    align-items: center;
    justify-content: center;

    border-top: var(--grey) 1px solid;
    border-bottom: var(--grey) 1px solid;
}

#footer-text {
    margin-top: 5px;
}

#footer-text a:hover {
    color: var(--pink);
    filter: brightness(90%);
}

/* ----------------------------------------- */
/* ---------- Website screen size ---------- */
/* ----------------------------------------- */

@media only screen and (min-width: 961px) {

    /* ----- Nav settings ----- */

    #navBg {
        display: block;
    }

    /* ----- Main section settings ----- */
    
    #main-content-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .featured-text {
        width: 100%;
        height: 100%;
        
        padding-top: 40%;
    }
    
    .featured-text {
        opacity: 0;
    }
    
    .featured:hover .featured-text {
        transition: opacity 1s;
        opacity: 0.7;
    }

    /* ----- Advert settings ----- */

    #advert-container input{
        transform: scale(1.2);
    }
    
    /* ----- Latest settings ----- */

    .latest-article p {
        font-size: 1.1em;
    }

}

/* ---------------------------------------- */
/* ---------- Mobile screen size ---------- */
/* ---------------------------------------- */

@media only screen and (max-width: 500px) {

    /* ----- Header settings ----- */

    /* nav, */
    #login-search-bar,
    #page-title {
        display: none;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 200;
    }

    #logo {
        margin: 1%;
        margin-left: 2%;
        max-width: 30%;
    }

    /* ----- Nav settings ----- */

    #mobile-nav {
        display: flex;
        gap: 10px;
        margin-right: 2%;
    }

    #mobile-nav i {
        display: flex;

        height: 30px;
        padding: 5px;
        gap: 20px;

        align-items: center;
        justify-content: center;
    }

    #nav-bg {
        position: fixed;
        top: 13%;
        left: 8%;
        width: 84%;
        height: 50%;

        z-index: 150;

        background-color: var(--grey);
        opacity: 1;

        display: none;
    }

    #nav-list {
        position: fixed;
        top: 20%;
        left: 20%;
        height: 35%;
        width: 60%;

        margin: auto;
        /* padding: 10px; */
        z-index: 150;

        background-color: var(--whiteBg);
        opacity: 1;

        flex-direction: column;
        text-align: center;
        font-size: 4vw;
    }

    /* ----- Main section settings ----- */

    #main-content-container {
        display: flex;
        flex-direction: column;
    }

    .featured-text {
        height: 20%;
    }

    /* ----- Advert settings ----- */

    #advert-container {
        margin: 5%;
    }

    #advert-container h1 {
        text-align: center;
        font-size: 4vw;
    }

    #advert-container form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: 2%;
        padding: 0% 2%;
        height: 50px;
    }

    /* ----- Secondary section settings ----- */

    #secondary-content-container {
        display: flex;
        flex-direction: column;
    }

    /* ----- Latest settings ----- */

    #latest-section {
        margin: 2%;
        row-gap: 10px;
    }

    #latest-section .section-title {
        font-size: 1.5em;
    }

    .latest-article h2 {
        font-size: 1.25em;
    }

    /* ----- Categories settings ----- */

    #categories-section {
        display: grid;
        grid-template-columns: 1fr 1fr;

        column-gap: 5px;
    }

    #categories-section h2 {
        grid-column: 1 / span 2;

        font-size: 1.5em;
    }

    /* ----- Categories settings ----- */

    #footer-text {
        font-size: 0.75em;
    }

}